 <div>
  <h1>Hello, welcome to our Agile ticket manager !</h1>
  <br />
  <span>If you want to use or services, please log in :)</span>
  <form ng-submit='submit()' ng-controller="loginForm">
    <label>
      <span>Enter your user name : </span>
      <input type="text" ng-model="userName" name="username" placeholder="Enter your User Name Here :)" required />
    </label>
    <label>
      <span>Enter your password here : </span>
      <input type="password" ng-model="userPass" name="userpass" required />
    </label>
    <input type="submit" value="Submit" />
  </form>
</div>