/**
 * Resets
 * --------------------------------------------------
 * Additional resets
 */
/* line 5, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../usr/local/bundle/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, scss/_reset.scss */
button, input, select {
  outline: 0;
}

@font-face {
  font-family: 'road_rage';
  src: url("./fonts/road_rage.otf") format("truetype");
}
@font-face {
  font-family: 'used';
  src: url("./fonts/used.ttf") format("truetype");
}
/* 1600 - 1200 - 800 - 600 */
/* line 1, scss/_body.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  line-height: 20px;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  padding: 0;
  margin: 0;
  background-color: #000;
  background: url(../images/fond.png) fixed no-repeat;
  background-size: cover;
  font-family: Calibri, "calibri", Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: justify;
  color: black;
}

/* line 1, scss/_utilities.scss */
h1 {
  font-size: 1.7rem;
  font-family: Calibri, "calibri", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  color: blue;
  margin: 5px;
  padding: 0.4rem 0 0.4rem 0;
}

/* line 12, scss/_utilities.scss */
a {
  min-height: 1.5ex;
  text-decoration: none;
  color: inherit;
}
/* line 17, scss/_utilities.scss */
a:visited {
  color: inherit;
  text-decoration: none;
}

/* line 23, scss/_utilities.scss */
.nobackground {
  background-color: transparent !important;
  background-image: none;
}

/* line 28, scss/_utilities.scss */
.cache {
  background-color: #fff;
}

/* line 32, scss/_utilities.scss */
sup {
  vertical-align: super;
  font-size: smaller;
  text-transform: none;
}

/* line 38, scss/_utilities.scss */
sep {
  margin-top: 3em;
}

/* line 42, scss/_utilities.scss */
strong {
  font-weight: bold;
}

/* line 46, scss/_utilities.scss */
i {
  font-style: italic;
}

/* line 50, scss/_utilities.scss */
.waiting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin: 40px 0;
}

/* line 1, scss/_header.scss */
header {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
  padding: 10px;
  font-size: xx-large;
}
/* line 11, scss/_header.scss */
header div, header nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
/* line 17, scss/_header.scss */
header div {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
/* line 19, scss/_header.scss */
header div .logo {
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
  -moz-box-flex: 0.5;
  -moz-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  background: url(../images/logo.jpg) no-repeat center right;
  background-size: contain;
}
/* line 25, scss/_header.scss */
header div bar {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: Column;
  -moz-flex-direction: Column;
  -ms-flex-direction: Column;
  flex-direction: Column;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  padding: 0 0 0 10%;
}
/* line 32, scss/_header.scss */
header div bar h1, header div bar h2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: Column;
  -moz-flex-direction: Column;
  -ms-flex-direction: Column;
  flex-direction: Column;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  text-align: left;
}
/* line 40, scss/_header.scss */
header div bar h1 {
  font-size: 3rem;
  font-family: road_rage;
  margin: 0.5ex;
}
/* line 46, scss/_header.scss */
header div bar h2 {
  font-family: used;
}
/* line 52, scss/_header.scss */
header nav {
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  margin: 1ex;
}
/* line 55, scss/_header.scss */
header nav ul {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}
/* line 60, scss/_header.scss */
header nav ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
}
/* line 65, scss/_header.scss */
header nav ul li a, header nav ul li button {
  text-decoration: underline;
  font-size: 1rem;
}
/* line 68, scss/_header.scss */
header nav ul li a:hover, header nav ul li button:hover {
  font-style: italic;
}
/* line 72, scss/_header.scss */
header nav ul li button {
  background-color: transparent;
  border: 0px;
}

/* line 1, scss/_index.scss */
.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
/* line 6, scss/_index.scss */
.main h1, .main h2 {
  text-align: center;
}
/* line 10, scss/_index.scss */
.main div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
/* line 16, scss/_index.scss */
.main div p {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
/* line 21, scss/_index.scss */
.main div p span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
/* line 22, scss/_index.scss */
.main div p span:first-child {
  -webkit-box-flex: 1.5;
  -webkit-flex: 1.5;
  -moz-box-flex: 1.5;
  -moz-flex: 1.5;
  -ms-flex: 1.5;
  flex: 1.5;
}
/* line 25, scss/_index.scss */
.main div p span:nth-child(2) {
  -webkit-box-flex: 2.5;
  -webkit-flex: 2.5;
  -moz-box-flex: 2.5;
  -moz-flex: 2.5;
  -ms-flex: 2.5;
  flex: 2.5;
}
/* line 28, scss/_index.scss */
.main div p span:nth-child(3) {
  -webkit-box-flex: 0.8;
  -webkit-flex: 0.8;
  -moz-box-flex: 0.8;
  -moz-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
}
/* line 31, scss/_index.scss */
.main div p span:last-child {
  -webkit-box-flex: 1.2;
  -webkit-flex: 1.2;
  -moz-box-flex: 1.2;
  -moz-flex: 1.2;
  -ms-flex: 1.2;
  flex: 1.2;
}
/* line 38, scss/_index.scss */
.main div p span button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
/* line 46, scss/_index.scss */
.main span {
  text-align: center;
  font-size: 1.2rem;
  color: #036FBD;
}
/* line 51, scss/_index.scss */
.main form {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 50%;
}
/* line 58, scss/_index.scss */
.main form label {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 100%;
}
/* line 65, scss/_index.scss */
.main form label input {
  border: 1px groove grey;
}
/* line 67, scss/_index.scss */
.main form label input:valid {
  border-left: green 10px solid;
}
/* line 71, scss/_index.scss */
.main form label input:invalid {
  border-left: red 10px solid;
}
/* line 76, scss/_index.scss */
.main form span {
  color: #000000;
}
