header {
  @include flex;
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  text-align: center;
  padding: 10px;
  width: 90%;
  font-size: xx-large;

  div, nav {
    @include flex;
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between);
  }

  div {
    .logo {
      @include flex(0.5);
      @include display-flex;
      background: $logo no-repeat center center;
      background-size: contain;
    }
    bar {
      @include flex;
      @include display-flex;
      @include flex-direction(Column);
      @include justify-content(space-between);
      h1, h2 {
        @include flex;
        @include display-flex;
        @include flex-direction(Column);
        @include justify-content(space-between);
      }
    }
  }

  nav {
    margin: 1ex;
    ul {
      @include flex;
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(space-between);
      li {
        @include flex;
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-between);
        a {
          text-decoration: underline;
          &:hover {
            font-style: italic;
          }
        }
      }
    }
  }

}