.main {
  @include flex;
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-between);
  h1, h2 {
    text-align: center
  }

  div {
    @include flex;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);

    p {
      @include flex;
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(space-between);
      span {
        &:first-child{
          @include flex(1.5);
        }
        &:nth-child(2) {
          @include flex(2.5)
        }
        &:nth-child(3) {
          @include flex(0.8)
        }
        &:last-child {
          @include flex(1.2)
        }
        @include flex;
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-between);
        button {
          @include flex;
          @include display-flex;
          @include justify-content(space-between);
        }
      }
    }
  }
  span{
    text-align: center;
    font-size: 1.2rem;
    color:#036FBD;
  }
  form {
    @include flex;
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-self(center);
    width: 50%;
    label {
      @include flex;
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(space-between);
      @include align-self(center);
      width:100%;
      input {
        border: 1px groove grey;
        &:valid{
          border-left: green 10px solid;
        }

        &:invalid{
          border-left: red 10px solid;
        }
      }
    }
    span {
      color: #000000;
    }

  }
}