<div ng-controller="mainCtrl">
  <!-- Header to be inserted on every page.  -->
  <header>
    <!-- Please don't use <img> tag for logo. It should be a DIV background image instead :) -->
    <div class="logo"></div>
    <bar>
      <h1>SupJiralo</h1>
      <h2>Enjoy being Agile</h2>
    </bar>
    <!-- Navigation tools -->
    <nav>
      <ul>
        <li><a ui-sref="logged">New Tickets</a></li>
        <li><a ui-sref="addticket">Create Ticket</a></li>
        <li><a ui-sref="listtickets">All Tickets</a></li>
      <li ng-controller="logoutCtrl"><form ng-submit="destroy()"><input type="submit" name="submit" value="Logout" /></form></li>
    </ul>
    </nav>
  </header>
  <div>
    <h1>Hy {{userName}}, reporting an issue ?</h1>
    <h2> Create Tickets</h2>
    <!-- This will print table of new tickets :) div == table, p == lines, span == colulmns -->
    <form ng-submit=submit() ng-controller="addTicketCtrl">
      <label>
        <span>Summary :</span>
        <input type="text" ng-model="summary" name="summary" placeholder="Ticket name" required />
      </label>
      <label>
        <span>Description :</span>
        <input type="textarea" rows="4" cols="50" ng-model="description" name="description" placeholder="Ticket name" />
      </label>
      <label>
        <span>Priority : </span>
        <select ng-model="priorities.value" name='priority' ng-options="v for v in priorities.values" >
        </select>
      </label>
      <input type='submit' value='Add' />
    </form>
  </div>
</div>