<!-- Header to be inserted on every page.  -->
<header>
  <!-- Please don't use <img> tag for logo. It should be a DIV background image instead :) -->
  <div>
    <div class="logo"></div>
    <bar>
      <h1>SupJiralo</h1>
      <h2>Enjoy being Agile</h2>
    </bar>
  </div>
  <!-- Navigation tools -->
  <nav>
    <ul>
      <li><a ui-sref="logged">New Tickets</a></li>
      <li><a ui-sref="addticket">Create Ticket</a></li>
      <li><a ui-sref="listtickets">All Tickets</a></li>
      <li><a ui-sref="mytickets">My Tickets</a></li>
      <li ng-controller="logoutCtrl"><button ng-click='destroy();' type="button" name="submit" >Logout</button></li>
    </ul>
  </nav>
</header>
<div class='main'>
  <h2> All tickets</h2>
  <!-- This will print table of new tickets :) div == table, p == lines, span == colulmns -->
  <div ng-controller="allTicketCtrl">
    <p>
      <span>Ticket Id</span>
      <span>Summary</span>
      <span>Priority</span>
      <span>Reported by</span>
      <span>Assigned to</span>
      <span>Status</span>
      <span>Action</span>
    </p>
    <!-- Get all tickets from tickets table (cf scope in controller) -->
    <form ng-submit='go_to_ticket()' ng-repeat="t in tickets">
      <span>{{ t._id }}</span>
      <span ng-model='summary'>{{ t.summary }}</span>
      <span>{{ t.priority }}</span>
      <span>{{ t.reporter }}</span>
      <span>{{ t.assignee }}</span>
      <span>{{ t.status }}</span>
      <span>
        <button ng-click="go_details(t.summary);">Views</button>
        <span ng-show="{{ispo}}">
          | <button ng-click="go_edit(t.summary)">Edit Ticket</button> | <button ng-click="destroy(t.summary)">Delete Ticket</button>
        </span>
      </span>
    </p>
  </div>
</div>